<!DOCTYPE html>
<html lang="es">
    <%- include('./partial/head') %>
    <%- include('./partial/header') %>
<body>

<section>
    <h1>
        Detalle de Cancion 
    </h1>

<h1>
    Titulo: <%= cancion.titulo %> 
</h1>

<li>
    Duracion: <%= cancion.duracion %> minutos
</li>
<li>
    Creado: <%= cancion.created_at %> 
</li>
<li>
    Modificado: <%= cancion.updated_at %> 
</li>
<li>
    Genero: <%= cancion.genero.name %> 
</li>
<li>
    Album: <%= cancion.album.nombre %> 
</li>
<li>
    Artista: <%= cancion.artista.nombre %> <%= cancion.artista.apellido %> 
</li>
<a href="/canciones/editarCancion/<%= cancion.id %> ">
    <button>Editar</button>
</a>
<form action="/canciones/borrar/<%= cancion.id %>" method="POST">
    <button type="submit">Borrar</button>
</form>
<div>
    <a href="/canciones/detalleAPI/<%= cancion.id %>">Ver API de Canciones</a>
</div>
    <p>
        <a href="./canciones">Volver</a>
    </p>
</section>

    
</body>
</html>