<article class="cancion">
    <h3>Cancion: <%= cancion.titulo %></h3> 
    <p>Duracion: <%= cancion.duracion %></p>
    <p>Creado el: <%= cancion.created_at %></p>
    <p>Actualizado el: <%= cancion.updated_at %></p>
    <p>Genero: <%= cancion.genero_id %></p>
    <p>Album: <%= cancion.album_id%></p>
    <p>Artista: <%= cancion.artista_id %></p>
    <p>Cancion: <%= cancion.length %></p> 
</article>